.tab {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "jblst jbfrm jbfrm";
    gap: 1rem;
}

@media only screen and (max-width: 900px) {
    .tab {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "jblst" "jbfrm";
    }
    
}